.features__list {
  display: flex;
}

.features__item {
  width: calc((100% - 90px) / 4);
  /* width: 270px; */
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__img {
  height: 120px;
  @extend %align-list;
  justify-content: center;
  background: var(--bcg-grey-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__icons {
  width: 70px;
  height: 70px;
  fill: var(--secondary-color);
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
