.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-list {
    display: none;
  }

  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .menu-nav {
    display: flex;
  }

  .menu-list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts-list {
    margin-left: 84px;
  }

  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .address-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--transition-duration),
      var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .icon-envelope {
    fill: currentColor;
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }

  .icon-smartphone {
    fill: currentColor;
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    margin-left: 305px;
  }

  .contacts-item:not(:last-child) {
    margin-bottom: 0;
  }

  .contacts-item + .contacts-item {
    margin-left: 30px;
  }

  .address-link {
    font-size: 14px;
    line-height: 1.15;
  }

  .icon-envelope {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  .icon-smartphone {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-duration),
    var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}
