.filtres-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;
}

.filtres-item {
  margin-bottom: 15px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filtres-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--bcg-grey-color);
  color: var(--secondary-color);
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-footer-text-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.cards-item {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-footer-text-color);
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  .cards-item-link:hover &,
  .cards-item-link:focus & {
    transform: translateY(0%);
  }
}

.cards-title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin: 0 0 4px 0;
}

.cards-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.card-list-text {
  padding: 20px 24px;
}

@media screen and (max-width: 767px) {
  .cards-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .filtres-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  .cards-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .cards-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  // .cards-item-link {
  //   height: 100%;
  //   // display: flex;
  //   // flex-direction: column;
  // }

  .overlay {
    padding: 49px 24px;
  }

  // .card-list-text {
  //   flex-grow: 1;
  // }
}

@media screen and (min-width: 1200px) {
  .filtres-list {
    margin-bottom: 30px;
  }

  .cards-item {
    width: calc((100% - 90px) / 3);
  }

  .overlay {
    padding: 63px 24px;
  }
}
