.work {
  padding-top: 0;
}

.work__list {
  display: flex;
  margin: -15px;
}

.work__item {
  width: calc((100% - 60px) / 3);
  margin: 15px;
}

.work__wrapper {
  position: relative;
}

.work__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-footer-text-color);
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
}
