:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --main-footer-text-color: #ffffff;
  --background-color: #2f303a;
  --links-color: #afb1b8;
  --bcg-btn-color: #188ce8;
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --bcg-grey-color: #f5f4fa;
  --main-bcg-color: #ffffff;

  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
